# Ignore large input/output files
samples/
edm4hep/
ntuples/
plots/
key4hep_options/
htcondor_jobs/
htcondor_logs/

# Ignore large helper files
data/all_files.txt

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific
.DS_Store

# log files
.log
